header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 40px;
    min-height: 80px;
    background-color: var(--hg-grau);

    .navbarLeft {
      a {
        color: var(--text-hell);
        font-size: 1.3rem;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        i {
          width: 40px;
          font-size: 2rem;
        }
      }
    }

    .navbarCenter {
      form {
        display: flex;
        input {
          width: 500px;
          padding: 5px 10px;
          border-radius: 10px;
          border: 2px solid var(--hg-grau);
        }
        button {
          color: var(--text-hell);
          background-color: var(--hg-grau);
          outline: none;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }

      form:hover input {
        border: 2px solid var(--color-orange);
      }
      form:hover button {
        color: var(--color-orange);
      }
    }

    .navbarRight {
      display: flex;

      i {
        font-size: 1.3rem;
      }

      i:hover {
        color: var(--color-orange);
      }

      .loginItem {
        margin-right: 15px;
        padding: 0 10px;
        cursor: pointer;

        i {
          width: 25px;
          color: var(--text-hell);
        }

        span {
          font-size: 0.8rem;
          color: var(--text-hell);
        }

        .userMenu {
          position: relative;
          display: inline-block;

          .dropdownMenu {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 170%;
            left: 0;
            height: 50px;
            width: 150px;
            border: 1px solid var(--hg-grau);
            border-radius: 10px;
            background-color: var(--hg-orange);

            button {
              background-color: var(--color-orange);
              color: var(--text-dunkel);
              border: none;
              padding: 8px 15px;
              margin: 0;
              border-radius: 10px;
              font-size: 0.8rem;
              cursor: pointer;
            }

            button:hover {
              background-color: var(--hover-orange);
            }
          }
        }
      }

      .loginItem:hover i,
      .loginItem:hover span {
        color: var(--color-orange);
      }

      .cartItem {
        margin-left: 15px;

        .cartCountDark {
          padding-right: 0;
          padding-left: 5px;
          font-weight: 400;
          font-size: 0.7rem;
          color: var(--hg-grau);
        }

        .cartCountLight {
          padding-right: 0;
          padding-left: 5px;
          font-weight: 400;
          font-size: 0.7rem;
          color: var(--text-hell);
        }
      }
      .cartItem:hover a i .cartCountLight {
        color: var(--color-orange);
      }
    }

    @media screen and (max-width: 1078px) {
      .navbarCenter input {
        width: 50%;
      }
      .navbarRight {
        justify-content: flex-end;
        width: 100%;
        /* outline: 3px solid red; */
      }
    }

    @media screen and (max-width: 644px) {
      .navbarCenter {
        width: 100%;
      }
    }
  }
}
