a {
  text-decoration: none;
  color: var(--text-hell);
}

i {
  padding-right: 20px;
}

footer {
  background-color: var(--hg-grau);
  padding-top: 30px;
  color: var(--text-hell);

  .footerContainer {
    width: 100vw;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    .footerContent {
      width: 33.3%;
      h3 {
        color: var(--color-orange);
        font-size: 1.3rem;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 40px;
        text-align: center;
      }

      p {
        width: 330px;
        margin: auto;
        padding: 7px;
      }

      ul {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-left: 40px;

        li {
          list-style: none;
          text-align: center;

          i {
            transform: scale(1.5);
          }

          i:hover {
            color: var(--color-orange);
          }
        }
      }

      .impressum {
        text-align: center;
        padding: 5px;
        display: flex;
        justify-content: center;
      }

      .impressum:hover {
        color: var(--color-orange);
      }
    }
  }

  .bottomBar {
    background-color: var(--color-orange);
    margin-top: 30px;
    padding: 3px;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  footer {
    .footerContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footerContent:not(:first-child) h3 {
        padding-top: 50px;
      }
    }
  }
}
